


html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;



    background: url(https://media.giphy.com/media/3o85xEIe1YKaGrSvhC/giphy.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}






#mickey {

    text-align: center;
    font-size: xx-large;
    color: #2e3e9c;
    text-shadow: 0px 0px 8px rgba(255,255,255,0.7);
    font-family: sans-serif;




}



#blurb {

    border-radius: 15px 50px;
    background:radial-gradient(#354fc1, #2e3e9c);
    padding: 20px;
    display: inline-block;
    text-align:center;
    font-family: monospace;
    color: #ffffff;
    font-size: x-large;
    text-shadow: 2px 2px 4px #10226f

}

.demo {
    border:2px groove #01157A;
    border-collapse:collapse;
    padding:5px;
}
.demo th {
    border:2px groove #01157A;
    padding:5px;
    background:#ACE7F0;
}
.demo td {
    border:2px groove #01157A;
    padding:5px;
}

table {
    align-items: center;
}


/* Navigation Bar Code Begins */


body {
    margin: 0;
    padding: 0;

}

.nav ul {
    list-style: none;
    background:radial-gradient(#354fc1, #2e3e9c);
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav li {
    font-family: monospace, sans-serif;
    font-size: 0.8em;
    line-height: 30px;
    height: 30px;
    border-bottom: 1px solid #888;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    text-shadow: 2px 2px 4px #10226f;
background: radial-gradient(#354fc1, #2e3e9c);
    font-size: medium;
    border: transparent;
    border-color: white;
    text-align: center;

    transition: .3s background-color;
}

.nav a:hover {
    background-color: #005f5f;

}

.nav a.active {
    background-color: #60bdbd;
    color: #ffffff;
    cursor: default;

}
.nav li {
    display: inline-block;
    margin-right: -4px;


}

@media screen and (min-width: 600px) {
    .nav li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }


}

#harrisonburg {

    padding:1px;
    border:10px solid #ffffff;
    -webkit-box-shadow: #ffffff;

}




#contentbox {

    column-count: 3;
    border-radius 15px 30px;
    background:radial-gradient(#354fc1, #2e3e9c);
    padding: 10px;
    display: inline-block;
    text-align:center;
    font-family: monospace;
    color: #ffffff;
    font-size: x-large;
    text-shadow: 2px 2px 4px #10226f;
    position: inherit; /* or absolute */


}


#corganfont {

    color: #ffa2eb;
    font-size:140%;
    text-shadow: #ffffff;

}

#when{
    width: 90%;
    height: 50%;
    border: solid;
    background: radial-gradient(#354fc1, #2e3e9c);
    -moz-border-radius: 30px / 20px;
    -webkit-border-radius: 30px / 20px;
    border-radius: 30px / 30px;
    text-align: center;
    box-shadow: 4px 4px 4px #ffffff;
}

#deal {
    width: 100%;
    height: 50%;
    border: solid;
    background: radial-gradient(#354fc1, #2e3e9c);
    -moz-border-radius: 30px / 20px;
    -webkit-border-radius: 30px / 20px;
    border-radius: 30px / 20px;
    text-align: center;
    box-shadow: 4px 4px 4px #ffffff;
}

#time{


    word-break: normal ;
    display: inline-block;

}

#capitaldeal{


    word-break: normal ;
    width: 75%;
    position: relative;
    display: inline-block;
}

/* box-shadow: 0px 0px 8px rgba(255,255,255,0.7) For future reference/*



